.sidebar {
  width: 220px;
  min-width: 220px;

  background: white;

  border-right: 1px solid #eee;

  height: 100vh;

  position: sticky;
  top: 0;
}

.sidebar-logo {
  width: 130px;

  margin: 25px;
}

.sidebar ul {
  list-style: none;

  padding: 0;
}

.sidebar li {
  margin: 5px 0;
}

.sidebar a {
  display: block;

  padding: 14px 25px;

  text-decoration: none;

  color: #424242;

  font-weight: 500;
}

.sidebar a:hover {
  background: #f7f7f7;
}

.sidebar a.active {
  color: #387ed1;

  background: #eef5ff;

  border-right: 3px solid #387ed1;
}