.topbar {
  height: 70px;

  background: white;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

.topbar h2 {
  color: #424242;
  font-size: 1.4rem;
}

.profile {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background: #387ed1;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
}

.topbar {
  display: flex;

  justify-content:
    space-between;

  align-items:
    center;

  padding: 20px;
}

.topbar-right {
  display: flex;

  align-items:
    center;

  gap: 15px;
}

.profile {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  background: #387ed1;

  color: white;

  display: flex;

  justify-content:
    center;

  align-items:
    center;

  font-weight: 600;
}

.logout-btn {
  border: none;

  background: #f44336;

  color: white;

  padding: 10px 15px;

  border-radius: 5px;

  cursor: pointer;
}