.open-account {
  max-width: 900px;
  margin: 120px auto;
  text-align: center;
}

.open-account h2 {
  font-size: 2.75rem;
  font-weight: 500;
  color: #424242;

  margin-bottom: 1rem;
}

.open-account p {
  font-size: 1rem;
  line-height: 1.8;
  color: #666;

  margin-bottom: 2rem;
}

.signup-btn {
  background: #387ed1;
  color: #fff;

  border: none;
  border-radius: 3px;

  padding: 12px 30px;

  font-size: 1.2rem;
  font-weight: 500;

  cursor: pointer;

  transition: background 0.25s ease;
}

.signup-btn:hover {
  background: #222;
}