.holdings {
  background: white;

  padding: 25px;

  border-radius: 8px;

  margin-top: 20px;

  box-shadow:
    0 1px 3px rgba(
      0,0,0,0.08
    );
}

.holdings table {
  width: 100%;
  border-collapse: collapse;
}

.holdings th,
.holdings td {

  padding: 14px;

  border-bottom:
    1px solid #eee;

  text-align: left;
}

.holdings th {
  background: #fafafa;
}