.hero {
  max-width: 1100px;
  margin: 70px auto 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.hero-image img {
  width: 92%;
  max-width: 750px;
  margin-bottom: 3rem;
}

.hero-content h5 {
  font-size: 0.95rem;
  color: #666;
  font-weight: 600;

  margin-bottom: 2rem;
}

.hero-content h1 {
  font-size: 25px;
  line-height: 1.25;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  font-weight: 500;
  /* margin-bottom: 20px; */
}

.hero-content p {
  font-size: 17px;
  font-weight: 400;
  margin-top: 10px;
}

.hero-btn {
  margin-top: 25px;
  padding: 10px 30px;;
  font-size: 1.1rem;
  background-color: #387ed1;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0) !important;
  border-radius: 3px;
  cursor: pointer;
}

.hero-btn:hover {
  background: #141414;
}

/* -------------Awards----------------- */
.awards {
  max-width: 1100px;
  margin: 100px auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 4rem;
}

.awards-left img {
  width: 100%;
  max-width: 500px;
}

.awards-right {
  flex: 1;
}

.awards-right h2 {
  font-size: 2rem;
  color: #424242;
  margin-bottom: 1.5rem;
}

.awards-right p {
  color: #666;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.awards-lists {
  display: flex;
  gap: 3rem;
}

.awards-lists ul {
  color: #666;
  line-height: 2;
}

/* --------------------------Trust & Confidense-------------------- */

.trust {
  max-width: 1100px;
  margin: 100px auto;

  display: flex;
  gap: 5rem;
}

.trust-left,
.trust-right {
  flex: 1;
}

.trust-left h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #424242;
}

.trust-item {
  margin-bottom: 2rem;
}

.trust-item h3 {
  color: #424242;
  margin-bottom: 0.7rem;
}

.trust-item p {
  color: #666;
  line-height: 1.8;
}

.trust-right img {
  width: 100%;
}

.trust-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 1.5rem 0;
}

.trust-links a {
  text-decoration: none;
  color: #387ed1;
}

/*----------------------------KiteConnect-------------------------*/
.kite-connect {
  /* margin-top: 2rem; */
  display: flex;
  gap: 15px;
  justify-content: center;
  background-color: #f6fbff;
  padding: 15px;
  align-items: center;
}

.kite-logo {
  width: 180px;
  margin-bottom: 1rem;
}

.mid {
  padding: 0 8px;
  width: 680px;
  color: #666;
  font-size: 14px;
}

.kite-connect a {
  text-decoration: none;
  color: #387ed1;
  font-weight: 500;
}

.right img {
  width: 155px;
}

/* --------------------pricing----------------------- */

.pricing {
  max-width: 1100px;
  margin: 100px auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 4rem;
}

.pricing-left {
  flex: 1;
}

.pricing-left h2 {
  font-size: 2rem;
  color: #424242;
  margin-bottom: 1rem;
}

.pricing-left p {
  color: #666;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.pricing-left a {
  text-decoration: none;
  color: #387ed1;
}

.pricing-right {
  flex: 1;

  display: flex;
  justify-content: space-between;
}

.pricing-box {
  text-align: center;
}

.pricing-box h3 {
  font-size: 2.5rem;
  color: #424242;
}

.pricing-box p {
  color: #666;
  max-width: 120px;
}

/* ---------------------------------Education-------------------- */

.education {
  max-width: 1100px;
  margin: 100px auto;

  display: flex;
  align-items: center;
  gap: 5rem;
}

.education-left,
.education-right {
  flex: 1;
}

.education-left img {
  width: 100%;
}

.education-right h2 {
  font-size: 2rem;
  color: #424242;
  margin-bottom: 1.5rem;
}

.education-right p {
  color: #666;
  line-height: 1.8;
  margin-bottom: 1rem;
}

.education-right a {
  display: inline-block;
  margin-bottom: 2rem;

  text-decoration: none;
  color: #387ed1;
  font-weight: 500;
}